<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lsn.lib_share">

<!--    必要权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
<!--    QQ 纯图压缩-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--申明需要交互的APP-->
    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.qzone" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.alibaba.android.rimet" />
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="com.donews.renren.android" />
        <package android:name="com.douban.frodo" />
        <package android:name="com.youdao.note" />
        <package android:name="im.yixin" />
        <package android:name="com.yinxiang" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.linkedin.android" />
    </queries>


    <application android:name=".app.ShareApp">
        <!--明确引用org.apache.http.legacy库，避免QQ官方open sdk在Android 9上报错 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:excludeFromRecents="true"
            />

        <!-- wechat callback-->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"

            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--dingding-->
<!--        <activity
            android:name=".ddshare.DDShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!-- alipay callback-->
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false">
        </activity>

        <provider
            android:name=".core.ShareFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        ​

    </application>

</manifest>